{% extends 'base.html.twig' %}

{% block title %}Position{% endblock %}

{% block body %}
    <h1>Add Position</h1>

    <div class="row">
        <div class="card-panel col s6">
            <div class="row">
                <div class="col s12">
                    <div class="input-field inline">
                        <input id="position" type="text" class="validate">
                        <label for="position">Pozicija</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Not Valid</span>
                    </div>
                </div>
                <div class="col s12">
                    <button id="add-pos" class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>

        </div>

    </div>


{% endblock %}

{% block customJavascripts %}
    <script>
        $("#add-pos").click(function () {
            var data = {
                name: $("#position").val(),
            };
            var sFunction = function (response) {

                if(response){
                    window.location.href = "{{path('position_list')}}";
                }
            };
            adapter.post("{{ path('json_add_position') }}", data, sFunction);
        });
    </script>
{% endblock %}