{% extends 'base.html.twig' %}

{% block title %}Edit Club{% endblock %}

{% block body %}
    <h1>Edit Club</h1>

    <div class="row">
        <div class="card-panel col s6">
            <div class="row">
                <div class="col s12">
                    <div class="input-field inline">
                        <input id="club" type="text" class="validate" value="{{ item.name }}">
                        <label for="club">Klub</label>
                        <span class="helper-text" data-error="wrong" data-success="right">No changes</span>
                    </div>
                </div>
                <div class="col s12">
                    <button id="edit-club" class="btn waves-effect waves-light" type="button" name="action">Edit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block customJavascripts %}
    <script>
        $("#edit-club").click(function () {
            var data = {
                id: {{ item.id }},
                name: $("#club").val()
            };

            var sFunction = function (response) {

                if(response.code == 400) $('#message').text(response.data.name);
                else window.location.href = "{{path('club_list')}}";
            };

            if (validator.empty(data.name)){
                $('#message').text('Polje mora biti ispunjeno');
            } else {
                console.log(data);
                adapter.post("{{ path('json_edit_club') }}", data, sFunction);
            }
        });
    </script>
{% endblock %}